header {
  background-color: #16ABDA;
  padding: 10px;
  color: #0070ad;
}

header > h1 {
  display: inline-block;
}

.text-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}